/* src/App.css */

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(180deg, #74ebd5 0%, #9face6 100%); /* Gradient background */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333; /* Dark text color */
}

/* Adjustments for glass-like effect */
.input-container {
  margin-bottom: 20px;
}

.loading-message, .error-message, .city-not-found {
  text-align: center;
}
